.home__container-sub-navbar {
  background-color: #f3f3f3;
  padding: 0 20%;
  .nav-item {
    margin-bottom: -2px;
  }
  .nav-link {
    color: black;
    .badge.badge-pill {
      background-color: lightgrey;
      color: black;
    }
  }
  .nav-link:not(.active) {
    border: 1px solid grey;
    box-shadow: 0px 1px #888888;
    
  }
  .nav-link.active{
    color: orange;
    border-bottom: none;
    .badge.badge-pill {
      background-color: orange;
      color: white;
    }
  }
}