.home__container-sub-navbar {
  background-color: #f3f3f3;
  padding: 0 10%;
  @media only screen and (max-width: 460px) {
    padding: 0;
    .home__container-sub-navbar-new-report-label {
      display: none;
    }
  }

  .nav-item {
    margin-bottom: -2px;
  }
  .nav-link {
    color: black;
    .badge.badge-pill {
      background-color: lightgrey;
      color: black;
    }
  }
  .nav-link:not(.active) {
    border: 1px solid lightgrey;
    box-shadow: 0px 1px lightgrey;

  }
  .nav-link.active{
    color: orange;
    border-bottom: none;
    .badge.badge-pill {
      background-color: orange;
      color: white;
      margin-left: 2px;
    }
  }

  .home__container-sub-title {
    display: flex;
    padding-top: 20px;
    i {
      font-size: 25px;
    }
    .home__container-sub-title-text {
      margin-left: 10px;
      margin-top: -6px;
    }
  }
  .home__container-tabs {
    display: flex;
    justify-content: space-between;
    .nav.nav-tabs {
      font-size: 12px;
    }
    .nav-link {
      padding: 0.6rem 1rem;
    }
    .btn {
      background-color: orange;
      color: white;
      font-size: 12px;
    }
  }
}
.home__container {
  .home__container-content {
    margin: 10px 10%;
    min-height: calc(100vh - 200px);
  }
  .home__container-content__right-content {
    background-color: #f3f3f3;
    height: 80%;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .btn.dropdown-toggle {
    background-color: #f3f3f3;
    border: 1px solid #d3d3d3;
    line-height: 1.2;
    font-size: 0.8rem;
    color: dimgrey;
    span {
      color: lightgray;
    }
    &:after {
      color: #6c757d;
    }
  }
}