<div class="my-3 rounded box-shadow">
  <div class="media pt-3 my-3 report-item-block">
    <i class="fa fa-file-o"></i>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block font-weight-bold">{{$ctrl.name}}</strong>
      <small class="text-muted">
        Owned by <span class="report-item-block__user-name">{{$ctrl.owner}}</span> (last updated {{$ctrl.calculateLastUpdatedTime($ctrl.lastUpdatedOn)}} ago)
      </small>
    </div>
    <i class='fa fa-ellipsis-v'></i>
  </div>
</div>