<div class="home__container">
	<div class="home__container-sub-navbar">
		<div class="home__container-sub-title">
			<i class="fa fa-file"></i>
			<div class="home__container-sub-title-text">
				<h3>Reports</h3>
				<small class="text-muted">6 reports created</small>
			</div>
		</div>
		<br>
		<div class="home__container-tabs">
			<ul class="nav nav-tabs">
			  <li class="nav-item active">
			    <a class="nav-link active" href="#">
				    Active
				    <span class="badge badge-pill">3</span>
			  	</a>

			  </li>
			  <li class="nav-item">
			    <a class="nav-link">
				    Shared With Me
				    <span class="badge badge-pill">6</span>
			  	</a>
			  </li>
			</ul>
			<button class="btn">
				<i class="fa fa-plus"></i>
				Create New Report
			</button>
		</div>
	</div>
	<div class="home__container-content">
		<div>
			<div class="row mt-5">
			  <div class="col-sm-3 offset-sm-5" style="text-align: right;">
			    <div class="dropdown">
			      <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      	<span>Sort by:</span> asdasda
			      </button>
			      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
			        <button class="dropdown-item" type="button">Action</button>
			        <button class="dropdown-item" type="button">Another action</button>
			        <button class="dropdown-item" type="button">Something else here</button>
			      </div>
			    </div>
			  </div>
			</div>
		  <div class="row">
		    <div class="col-sm-8">
		      <report-item hero="'wesley222!'"></report-item>
		    </div>
		    <div class="col-sm-4">
		      <div class="home__container-content__right-content my-3">
		      	
		      </div>
		    </div>
		  </div>
		</div>
		
	</div>
</div>