<div class="home__container">
	<sub-navbar></sub-navbar>
	<div class="home__container-content">
		<div>
			<div class="row mt-5">
			  <div class="col-sm-3 offset-sm-5 text-right">
			    <div class="dropdown">
			      <button 
			      class="btn dropdown-toggle" 
			      type="button" 
			      id="dropDownFilter" 
			      data-toggle="dropdown">
			      	<span>Sort by:</span> {{$ctrl.filterSelected}}
			      </button>
			      <div class="dropdown-menu" aria-labelledby="dropDownFilter">
			        <button 
			        class="dropdown-item" 
			        ng-repeat="dropdownItem in $ctrl.sortDropDownList"
			        ng-click="$ctrl.filterSelected = dropdownItem.value"
			        type="button">
			        	{{dropdownItem.value}}
			      	</button>
			      </div>
			    </div>
			  </div>
			</div>
		  <div class="row">
		    <div class="col-sm-8">
		      <report-item hero="'wesley222!'"></report-item>
		    </div>
		    <div class="col-sm-4">
		      <div class="home__container-content__right-content my-3"></div>
		    </div>
		  </div>
		</div>
		
	</div>
</div>