<div class="home__container">
	<div class="home__container-sub-navbar">
		<div>
			<div>
				<i class="fa fa-list" aria-hidden="true"></i>
				<h2>Reports</h2>
			</div>
				<small class="text-muted">6 reports created</small>
		</div>
		<br>
		<ul class="nav nav-tabs">
		  <li class="nav-item active">
		    <a class="nav-link active" href="#">
			    Active
			    <span class="badge badge-pill">3</span>
		  	</a>

		  </li>
		  <li class="nav-item">
		    <a class="nav-link">
			    Shared With Me
			    <span class="badge badge-pill">6</span>
		  	</a>
		  </li>
		</ul>
	</div>
</div>